#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.container-slide{
    width: 100%;
    margin-bottom: 5px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;

}
.swiper {
    width: 100%;
    height: 70vh;
  }
.swiper-slide img{
    width: 100%;

}

.swiper .swiper-pagination-bullet-active {
    background: white;
}