{% extends 'gym_app/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    {%block content%}


    <!--Monthly plans-->
    <section>
        {{plan.name}}
        {%for price in price_fields%}
        <form action="{% url 'gym:checkout' price.id %}" method="post">
            {%csrf_token%}
            <button type="submit">Checkout</button>
        </form>
        {%endfor%}
    </section>


    {%endblock%}
</body>

</html>