{%extends 'gym_app/base.html'%} {%load static%} {%block content%}

{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert {{ message.tags }}" role="alert" style="text-align: center;">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% for plan in name_of_plans%}
{{plan.name}}
<br>
{{plan.description}}
<br>

{%for pricee in plan.plan.all%}
{{pricee.price}}
<br><br>
<form action="{% url 'gym:checkout' pricee.id %}" method="post">
    {%csrf_token%}
    <button type="submit">Buy now</button>
</form>

{%endfor%}
<br>

<img src="{{plan.image.url}}" alt="">

<br><br>
{%endfor%}

{%endblock%}